<html>
<head>
	<link charset="utf-8"/>
	<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link rel="stylesheet" href="/css/style.css">
	<title>Doodle Drive</title>

</head>
  
<body>
      <div class="container-fluid sticky-top" style="padding:0;margin:0;">
	<nav class="navbar navbar-expand-sm navbar-light bg-light" >
    <a class="navbar-brand" href="#">
   <img id="imgid" src="/media/0aee0976-aa9d-4233-9308-7fca36e8d8c3_200x200.png"/></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="display:flex;justify-content:space-around;width:100%;">
          <a class="nav-item nav-link active" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="#contact">Contact Us</a>
          <a class="nav-item nav-link" href="#features">Features</a>
          <a class="nav-item nav-link" href="/sign-up">Sign Up</a>
          <a class="nav-item nav-link" href="/login">Log In</a>
        </div>
      </div>
      
     </nav>
    </div>
<div class="main-part mt-2">
	<div  class="col-md-5 col-sm-12"  data-aos="fade-left"  data-aos-duration="1000">
	<img src="/media/v211-115-minty-technology_2.jpg" id="photo2" alt="" />
</div>
      <div class="col-md-7 col-sm-12" data-aos="fade-left" data-aos-duration="1000">
        
        <p class="heading2">ABOUT US</p>
        <p class="content1">
          <span style="font-size: 18; color: white;">
            What is Doodle Drive ?</span >
          <br /><br />
          With Doodle Drive , you can store all your important documents online
          , at one place , at just a tap away! You can create, edit and review
          documents in real time from anywhere, on any device.<br /><br />
          The best way to find out whether Doodle Drive is right for you is to
          use it – for free! Our starter plan has all of the basic features
          needed to get the upgrade only if you need.
        </p>
      </div>
    </div>

    <div id="features">
      <div class="div2">
        <div class="horizon">
           <hr id="hr2"/>
          <p class="para mt-5 mb-1">OUR BENIFITS</p>
        </div>
        <h1 class="heading3">More than just storage</h1>
      </div>
      <div class="nextpara">
        <div class="p2 mt-1">We are more than just sharing and storage</div>
        <div class="p3 mb-5">Take a look at the top features</div>
      </div>
      <div class="font mb-3 d-flex">
          <div class="div1">
            <i
              class="fas fa-compact-disc"
            ></i>
            <div class="p1">Anonymous file exchange</div>
          </div>
  
          <div class="div1">
            <i
              class="fas fa-compact-disc"
            >
            </i>
            <div class="p1">No size limits</div>
          </div>

          <div class="div1">
            <i
              class="fas fa-compact-disc"
            ></i>
  
            <div class="p1">Secure storage</div>
          </div>
  
          <div class="div1">
            <i
              class="fas fa-compact-disc"
            ></i>
  
            <div class="p1">Free for use</div>
          </div>
      </div>
    </div>
    <footer id="contact">
        <div class="d-flex justify-content-center">
            <div class="mx-5">
                <a
            class="soo"
            href="https://www.linkedin.com/in/riya-goel1/"
            target="_blank"
            ><i id="social-tw" class="fa fa-linkedin-square fa-3x social"></i
          ></a>
            </div>
            <div class="mx-5">
                <a class="soo" href="https://github.com/Riyagoel2/" target="_blank"
            ><i id="social-gp" class="fa fa-github-square fa-3x social"></i
          ></a>
            </div>
            <div class="mx-5">
                <a class="soo" href="mailto:me.riyagoel27@gmail.com"
            ><i id="social-em" class="fa fa-envelope-square fa-3x social"></i
          ></a>
            </div>
        </div>
        <div class="copyright">
          | &copy; Copyright 2020 |<br />
          <span id="rights"> All rights reserved </span>
        </div>
      </div>
    </footer>
 <script>
  AOS.init();
  </script>   
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
</body>
</html>